// -----------------------------------------------------------------------
// Chromatic
// Integrated Development Environment
//
// Copyright (C) 2001-2009 Franck Charlet.
// All rights reserved.
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions
// are met:
//
//  1. Redistributions of source code must retain the above copyright notice,
//     this list of conditions and the following disclaimer.
//
//  2. Redistributions in binary form must reproduce the above copyright notice,
//     this list of conditions and the following disclaimer in the documentation
//     and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY THE AUTHOR AND CONTRIBUTORS "AS IS" AND
// ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
// ARE DISCLAIMED. IN NO EVENT SHALL FRANCK CHARLET OR CONTRIBUTORS BE LIABLE
// FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
// DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
// OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
// HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
// LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
// OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
// SUCH DAMAGE.
// -----------------------------------------------------------------------

// -------------------------------------
// Resources script
// -------------------------------------

// Application icons
500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\applic.ico

// Other icons
1000 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\askdir.ico
1001 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\asm.ico
1002 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\assemble.ico
1003 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\cascade.ico
1004 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\close.ico
1005 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\closewin.ico
1006 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\colors.ico
1007 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\comment.ico
1008 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\component.ico
1009 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\console.ico
1010 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\copy.ico
1011 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\cubes.ico
1012 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\cut.ico
1013 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\debug.ico
1014 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\delete.ico
1015 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\delstatus.ico
1016 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\dirperms.ico
1017 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\dirup.ico
1018 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\dirview.ico
1019 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\download.ico
1020 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\earth.ico
1021 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\exec.ico
1022 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\fileassoc.ico
1023 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\files.ico
1024 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\find.ico
1025 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\findnext.ico
1026 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\findprev.ico
1027 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\ftpuser.ico
1028 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\getreg.ico
1029 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\helpfile.ico
1030 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\indent.ico
1031 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\insert.ico
1032 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\internet.ico
1033 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\mail.ico
1034 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\mainicon.ico
1035 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\Keyboard.ico
1036 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\menued.ico
1037 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\msdos.ico
1038 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\new.ico
1039 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\newdir.ico
1040 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\newftp.ico
1041 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\open.ico
1042 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\outdent.ico
1043 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\paste.ico
1044 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\pause.ico
1045 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\pile.ico
1046 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\plug.ico
1047 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\print.ico
1048 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\properties.ico
1049 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\redo.ico
1050 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\refresh.ico
1051 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\renamedir.ico
1052 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\replace.ico
1053 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\res.ico
1054 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\runprog.ico
1055 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\save.ico
1056 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\savelittle.ico
1057 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\setbook.ico
1058 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\snap.ico
1059 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\split.ico
1060 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\static.ico
1061 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\step.ico
1062 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\stop.ico
1063 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\storereg.ico
1064 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\tilehorz.ico
1065 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\tilevert.ico
1066 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\toolbars.ico
1067 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\towin.ico
1068 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\uncomment.ico
1069 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\undo.ico
1070 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\upload.ico
1071 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\user.ico
1072 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\windows.ico
1073 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\yin.ico
1074 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zlab.ico
1075 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zwindow.ico
1076 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zxkey.ico
1077 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zxkeyreplace.ico
1078 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zxserv.ico
1079 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zxpopup.ico
1080 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zxitem.ico
1081 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zxseparator.ico
1082 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zxmenuup.ico
1083 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zxmenudown.ico
1084 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzzdirectx.ico
1085 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzzztoolbars.ico
1086 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\addinr.ico
1087 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\addins.ico
1088 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\panel.ico
1089 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\editdoc.ico
1090 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\ZZZZZstar.ico
1091 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\LittleReload.ico
1092 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\StepBack.ico
1093 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\Window.ico
1094 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\WindowModif.ico
1095 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\FullScreen.ico
1096 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RunProject.ico
1097 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\DebugProject.ico
1098 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\BuildProject.ico
1099 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\AddActive.ico
1100 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\AddAllActive.ico
1101 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\AddDirectory.ico
1102 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\Process.ico
1103 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\PauseLittle.ico
1104 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\StopLittle.ico
1105 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\Thread.ico
1106 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\NextWindow.ico
1107 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\PrevWindow.ico
1108 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\FirstBook.ico
1109 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\PrevBook.ico
1110 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\NextBook.ico
1111 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\LastBook.ico
1112 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\ClearBook.ico
1113 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\AddFiles.ico
1114 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\WindowLock.ico
1115 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\DirSearch.ico
1116 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\AddLibrary.ico
1117 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\AddResource.ico
1118 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\MenuDropDown.ico
1119 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\Light.ico
1120 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\HeartOfGold.ico
1121 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\HeartOfGoldPlus.ico
1122 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\Addfilter.ico
1123 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\ToWindow.ico
1124 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\SetBreak.ico
1125 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\ClearBreak.ico
1126 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\NextBreak.ico
1127 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\PrevBreak.ico
1128 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\FirstBreak.ico
1129 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\LastBreak.ico
1130 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\StepInto.ico
1131 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\StepOver.ico
1132 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\StepOut.ico
1133 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\AddConst.ico
// Gap here on purpose
1135 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\LowerCase.ico
1136 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\UpperCase.ico
1137 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\ReplaceConstant.ico
1138 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\Audio.ico
1139 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\Object.ico
1140 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\AddObject.ico
1141 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\OpenGL.ico
1142 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegEax.ico
1143 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegEbx.ico
1144 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegEcx.ico
1145 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegEdx.ico
1146 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegEsi.ico
1147 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegEdi.ico
1148 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegEip.ico
1149 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegEsp.ico
1150 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegEbp.ico
1151 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegEfl.ico
1152 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegCs.ico
1153 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegDs.ico
1154 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegEs.ico
1155 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegFs.ico
1156 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegGs.ico
1157 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegSs.ico
1158 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegSt0.ico
1159 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegSt1.ico
1160 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegSt2.ico
1161 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegSt3.ico
1162 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegSt4.ico
1163 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegSt5.ico
1164 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegSt6.ico
1165 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegSt7.ico
1166 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegCtrl.ico
1167 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegStat.ico
1168 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegTags.ico
1169 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegEdo.ico
1170 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegMm0.ico
1171 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegMm1.ico
1172 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegMm2.ico
1173 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegMm3.ico
1174 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegMm4.ico
1175 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegMm5.ico
1176 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegMm6.ico
1177 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegMm7.ico
1178 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegXmm0.ico
1179 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegXmm1.ico
1180 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegXmm2.ico
1181 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegXmm3.ico
1182 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegXmm4.ico
1183 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegXmm5.ico
1184 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegXmm6.ico
1185 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegXmm7.ico
1186 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\RegMxcsr.ico

1950 CURSOR LOADONCALL DISCARDABLE pics\SplitH.cur
1951 CURSOR LOADONCALL DISCARDABLE pics\SplitV.cur
1952 CURSOR LOADONCALL DISCARDABLE pics\Drag.cur

2000 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE pics\Chromatic.bmp
2001 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE pics\CodeWiz.bmp

2500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzanimation.ico
2501 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzbutton.ico
2502 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzcalendar.ico
2503 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzcheckbox.ico
2504 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzcombobox.ico
2505 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzcursor.ico
2506 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzdatepicker.ico
2507 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzframe.ico
2508 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzhotkey.ico
2509 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzhscrollbar.ico
2510 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzlabel.ico
2511 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzlistbox.ico
2512 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzlistview.ico
2513 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzpicture.ico
2514 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzprogressbar.ico
2515 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzradiobutton.ico
2516 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzslider.ico
2517 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzspin.ico
2518 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzsystab.ico
2519 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zztext.ico
2520 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zztextip.ico
2521 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zztreeview.ico
2522 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzvscrollbar.ico
2523 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzxcombobox.ico
2524 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\ZZZZslidervert.ico
2525 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\ZZZZtoolbar.ico
2526 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\ZZZZstatusbar.ico
2527 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\ZZZZrichtext.ico
2528 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\ZZZZpager.ico
2529 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\ZZZZheader.ico
2530 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\ZZZZrebar.ico
2531 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\ZZZZtooltip.ico

2700 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzxlockctrl.ico
2701 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzzalignbottom.ico
2702 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzzalignleft.ico
2703 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzzalignright.ico
2704 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzzaligntop.ico
2705 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzzcenterhorz.ico
2706 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzzcentervert.ico
2707 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzzgrid.ico
2708 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzzsameheight.ico
2709 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzzsamesize.ico
2710 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzzsamewidth.ico
2711 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzzspaceacross.ico
2712 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzzspacedown.ico
2713 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\zzzaligngrid.ico
2714 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\comboarrow.ico
2715 ICON MOVEABLE PURE LOADONCALL DISCARDABLE pics\combopoints.ico

9000 ACCELERATORS LOADONCALL MOVEABLE PURE 
BEGIN
    "N",   4000,CONTROL,VIRTKEY
    "N",   4021,CONTROL,SHIFT,VIRTKEY
    "O",   4003,CONTROL,VIRTKEY
    "O",   4004,CONTROL,SHIFT,VIRTKEY
    "I",   4006,CONTROL,VIRTKEY
    "I",   4022,CONTROL,SHIFT,VIRTKEY
    "S",   4010,CONTROL,VIRTKEY
    "S",   4011,ALT,SHIFT,VIRTKEY
    "H",   4014,CONTROL,VIRTKEY
    "H",   4023,CONTROL,SHIFT,VIRTKEY
    "P",   4015,CONTROL,VIRTKEY
    116,   4016,VIRTKEY
    117,   4018,VIRTKEY
    123,   4019,VIRTKEY
    "Q",   4020,CONTROL,VIRTKEY
    115,   4020,ALT,VIRTKEY

    "E",   4508,CONTROL,VIRTKEY
    8,     4509,ALT,VIRTKEY
    46,    4510,ALT,VIRTKEY

    "Y",   4501,CONTROL,VIRTKEY
    "A",   4512,CONTROL,VIRTKEY
    "A",   4513,CONTROL,SHIFT,VIRTKEY
    "Q",   4514,CONTROL,SHIFT,VIRTKEY
    "W",   4515,CONTROL,SHIFT,VIRTKEY
    "F",   4516,CONTROL,VIRTKEY
    114,   4517,CONTROL,SHIFT,VIRTKEY
    115,   4520,VIRTKEY
    "T",   4521,CONTROL,VIRTKEY
    "B",   4522,CONTROL,VIRTKEY

    113,   4523,VIRTKEY
    118,   4524,CONTROL,VIRTKEY
    113,   4525,SHIFT,VIRTKEY
    113,   4526,CONTROL,VIRTKEY
    118,   4527,CONTROL,SHIFT,VIRTKEY
    113,   4528,CONTROL,SHIFT,VIRTKEY
    "G",   4531,CONTROL,VIRTKEY

    121,   4563,VIRTKEY
    122,   4564,CONTROL,VIRTKEY
    121,   4565,SHIFT,VIRTKEY
    121,   4566,CONTROL,VIRTKEY
    122,   4567,CONTROL,SHIFT,VIRTKEY
    121,   4568,CONTROL,SHIFT,VIRTKEY

    38,    4535,ALT,VIRTKEY
    40,    4536,ALT,VIRTKEY
    "S",   4537,CONTROL,ALT,VIRTKEY
    "F",   4540,CONTROL,ALT,VIRTKEY
    "G",   4562,CONTROL,ALT,VIRTKEY

    "U",   4544,CONTROL,VIRTKEY
    "L",   4545,CONTROL,VIRTKEY
    "U",   4554,CONTROL,SHIFT,VIRTKEY
    "K",   4546,CONTROL,VIRTKEY
    "M",   4547,CONTROL,VIRTKEY
    "T",   4548,CONTROL,SHIFT,VIRTKEY
    "T",   4549,CONTROL,ALT,VIRTKEY
    "R",   4550,CONTROL,VIRTKEY
    "R",   4555,CONTROL,ALT,VIRTKEY
    "W",   4551,CONTROL,VIRTKEY
    "P",   4552,CONTROL,SHIFT,VIRTKEY
    "K",   4553,CONTROL,SHIFT,VIRTKEY
    119,   4557,CONTROL,SHIFT,VIRTKEY
    "L",   4556,CONTROL,SHIFT,VIRTKEY
    "V",   4558,CONTROL,SHIFT,VIRTKEY

    "1",   5001,ALT,VIRTKEY
    "2",   5002,ALT,VIRTKEY
    "3",   5003,ALT,VIRTKEY
    "4",   5004,ALT,VIRTKEY
    "5",   5005,ALT,VIRTKEY
    119,   5006,VIRTKEY
    120,   5007,VIRTKEY
    120,   5008,SHIFT,VIRTKEY
    "Z",   5009,ALT,SHIFT,VIRTKEY

    "O",   5501,CONTROL,ALT,VIRTKEY
    "S",   5502,CONTROL,SHIFT,VIRTKEY
    116,   5519,SHIFT,VIRTKEY
    116,   5520,CONTROL,VIRTKEY
    116,   5521,CONTROL,SHIFT,VIRTKEY

    112,   6000,VIRTKEY
    112,   6001,CONTROL,VIRTKEY
    112,   6010,CONTROL,SHIFT,VIRTKEY
    112,   6011,ALT,SHIFT,VIRTKEY
END

1 VERSIONINFO
 FILEVERSION 1,3,0,0
 PRODUCTVERSION 1,3,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040c04b0"
        BEGIN
            VALUE "Comments", "Bad times version.\0"
            VALUE "CompanyName", "hitchhikr SoftWorks\0"
            VALUE "FileDescription", "Chromatic\0"
            VALUE "FileVersion", "1, 3, 0, 0\0"
            VALUE "InternalName", "Chromatic\0"
            VALUE "LegalCopyright", "Copyright © 2001-2009 Franck Charlet.\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "Chromatic.exe\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "Chromatic\0"
            VALUE "ProductVersion", "1, 3, 3, 0\0"
            VALUE "SpecialBuild", "Built in antartica.\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40c, 1200
    END
END

1 24 "WindowsXP.Manifest"
